<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WrapTextAroundCircle</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section>
        <div class="circle circle1">
            <img src="./man.jpg" alt="">
        </div>
        <div class="circle circle2">
            <img src="./man2.jpeg" alt="">
        </div>
        <div>
            <h2>
                WrapTextAroundCircle
            </h2>
            <p>WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle WrapTextAroundCircleWrapTextAoundCircleWrapTextAroundCircleWrapTextAroundCircleWrapTextAroundCircle</p>
        </div>
    </section>
</body>
</html>